/data
/checkpoints
/SSS\ Attn\ checkpoints
*.log
__pycache__/
*.py[cod]
*$py.class
/myenv
/logs
/object_detection/detrexx
/object_detection/detrex
/object_detection/dino/datasets
/object_detection/output
object_detection/dino/output/
/.vscode